.error{
    color: var(--ERROR__COLOR);
}
.success{
    color: var(--SUCCESS__COLOR);
}

.dash-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.login-response{
    display: none;
    position: relative;
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
    font-size: large;
    color: var(--WHITE__COLOR);
    padding: 1.5rem;
    border-radius: 4px;
    outline: 1px solid var(--ERROR__COLOR);
}
.login-response.show{
    display: block;
}
.login-response::before{
    content: "	\0021";
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 15px;
    height: 15px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--ERROR__COLOR);
    background-color: var(--WHITE__COLOR);
    padding: 0.5rem;

}

.dash-header .dash-title a{
    color: var(--MAIN__ACCENT__COLOR);
    text-decoration: none;
    cursor: pointer;
}

.dash-header .dash-title .go-home{
    color: var(--WHITE__COLOR);
}
.dash-header .dash-title .go-home:hover{
    color: var(--MAIN__ACCENT__COLOR);
}

.admin-login-modal form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.admin-login-modal form .input-div input{
    width: 100%;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    font-size: 20px;
    border: none;
    color: var(--WHITE__COLOR);
    background-color: transparent;
}

.admin-login-modal form .input-div input:active,
.admin-login-modal form .input-div input:focus{
    border: none ;
    outline: none;
}

.admin-login-modal form .input-div {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 8px;
    border: 1.5px solid var(--MAIN__ACCENT__COLOR);
    padding: 0 1rem;
    background-color: var(--MAIN__BG__COLOR);
    color: var(--WHITE__COLOR);
    transition: all ease 300ms;
  }
  .admin-login-modal form .input-div legend {
    padding: 0 0.5rem;
    text-transform: uppercase;
    color: var(--MAIN__ACCENT__COLOR);
  }

.admin-login-modal form input[type="submit"]{
    width: max-content;
    color: var(--WHITE);
    border: 1px solid var(--SUCCESS__COLOR);
    transition: all 0.3s ease-in-out;
    outline: none;
    margin-block: 1rem;
    background-color: transparent;
    float: right;
}

.admin-login-modal form input[type="submit"]:hover{
    background-color: var(--SUCCESS__COLOR);
}

.admin-login-response{
    font-size: larger;
    margin-block: 1rem;
}

.admin-login-note{
    font-size: smaller;
    margin-block: 1.5rem;
}
.admin-login-note .note-title{
    margin-bottom: 1rem;
}

.admin-login-note .note-list{
    margin-bottom: 1rem;
    list-style: circle;
    padding-inline-start: 1rem;
}
.admin-login-note .note-list li{
    margin-bottom: 0.5rem;
}
.admin-login-note .note-list a{
    color: var(--MAIN__ACCENT__COLOR);
}


.scheme-list-wrapper{
    /* outline: 1px solid var(--MAIN__ACCENT__COLOR); */
    margin-block: 1rem;
}

.scheme-list-wrapper .scheme-list{
    list-style: none;
    padding-block: 0.5rem;
}

.scheme-list-wrapper .scheme-list .scheme-list-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    color: var(--WHITE__COLOR);
    border-bottom: 1px solid var(--WHITE__COLOR);
}
.scheme-list-wrapper .scheme-list .scheme-list-item:last-child{
    border-bottom: none;
}
.scheme-list-wrapper .scheme-list .scheme-list-item .scheme-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 0.5rem;
}
.scheme-list-wrapper .scheme-list .scheme-list-item .scheme-title .alias{
    color: var(--MAIN__ACCENT__COLOR);
    font-size: larger;
    font-weight: bold;
}
.scheme-list-wrapper .scheme-list .scheme-list-item .scheme-title .name{
    color: var(--WHITE__COLOR);
    font-size: smaller;
    font-weight: lighter;
    opacity: 0.5;
}
.scheme-list-wrapper .scheme-list .scheme-list-item:hover{
    background-color: #222222;
}

